.Sidebar {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
}

.nav-sidebar {
  background-color: #000; /* Black background */
}

.name-title {
  height: 35px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
}

.name-title .link-title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  text-decoration: none;
}

.link-to {
  color: #fff;
  text-decoration: none;
}

/* Hover effect for menu buttons */
.css-1tqrhto > .ps-menu-button:hover,
.css-1t8x7v1 > .ps-menu-button:hover,
.css-16jesut > .ps-menu-button:hover {
  background-color: pink !important; /* Adjust hover color as needed */
}
.css-dip3t8 {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
  background-color: black !important;
}
