.login-container {
  .loader-icon {
    margin-right: 7px;
    top: 2px;
    animation: spin 1s infinite linear;
    color: #00d4ff;
  }

  @keyframes spin {
    from {
      transform: scale(1) rotate(0deg);
    }
    to {
      transform: scale(1) rotate(360deg);
    }
  }
  video {
    position: fixed;
    width: 100%;
    min-height: 100vh;
  }
  .header {
    height: 45px;
    text-align: right;
    position: relative;
    right: 30px;
    top: 10px;
    color: #382323;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }

  .title {
    position: relative;
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
    color: #fff;
  }

  .welcome {
    font-size: 20px;
    padding: 10px 0;
  }
  .content-form {
    .form-group {
      position: relative;
      width: 100%;
      padding-right: 2.5rem;

      .eye-password {
        position: absolute;
        top: 69%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #666;
        right: 5rem;
      }

      label {
        color: #fff;
      }
    }
    span {
      cursor: pointer;
      color: #fff;
      position: relative;
    }
    input {
      margin-bottom: 15px;
      margin-top: 3px;
    }

    button {
      width: 92%;
      height: 40px;
      border: none;
      margin: 20px 0;
      border-radius: 5px;
      color: white;
      background-color: #fff;
      position: relative;

      &:disabled {
        background: #fff;
        color: black;
        cursor: no-drop;
      }
    }
  }
}
